.header-dashboard{
    background: #515151; 
    display: flex;
    justify-content: center;
    align-items: center;
    max-height: 120px;
}
.li-dashboard .a{
    color: #fff;
}
.logo{
    filter: invert(100%);
    height: 150px;
    width: 170px;
}
.box{
    display: flex;
    justify-content: center;
    align-items: center;
}

.componet{
    display: flex;
    gap: 40px;
    list-style: none;
    align-items: center;
    padding-top: 35px;
    padding-right: 50px;
}

.user{
    width: 20px;
    height: 20px;
    filter: invert(100%);
}
